<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <%- messages() %>

<div class="management"><br>
  <h2>Welcome</h2><br>
  <p>You're logged in</p><br>
  <a href="/inv/">Acess the management view</a>

  <br>
</div>