<h1><%- title %></h1>
<%- messages() %> 

<% if (errors && errors.length> 0) { %>
  <ul class="notice">
    <% errors.forEach(function(error) { %>
      <li>
        <%= error %>
      </li>
      <% }); %>
  </ul>
  <% } %>

<form class="input-box" action="/inv/add-classification" method="post"> <%# The form must send all data... %>
    <label>CLASSIFICATION NAME<input type="text" name="classification_name" required value="<%= locals.classification_name %>" pattern="[0-9a-zA-Z]+"></label>
    <span class="requirement invalid">Required. Cannot contain spaces or special characters.</span>
    <input type="submit" value="ADD">

</form>

<script src="/js/classification.js"></script>